.signup-refugee-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-refugee-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-refugee-container form {
    display: flex;
    flex-direction: column;
}

.signup-refugee-container form div {
    margin-bottom: 15px;
}

.signup-refugee-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.signup-refugee-container input,
.signup-refugee-container select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-refugee-container button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.signup-refugee-container button:hover {
    background-color: #0056b3;
}
